---
const bookmarklets = [
    {
        name: "🎵 Search on lucida.to",
        function: `\
const channelName = document.querySelector("ytd-channel-name a").textContent;
const title = document.title.replace(" - YouTube", "");
const fullName = title.includes("-") ? title : \`\${channelName} - \${title}\`;
window.open(\`https://lucida.to/search?service=tidal&country=US&query=\${encodeURIComponent(fullName)}\`);
`,
        description: "Search the current page on lucida.to, works with Youtube.",
    },
]
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bookmarklets</title>
        <script
            is:inline
            src="https://louisabraham.github.io/nekojs/neko.js"
            data-autostart></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        ></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    </head>
    <body>
        <a href="/">← Back to home</a>

        <h1>Bookmarklets</h1>
        <p>Drag these links to your bookmarks toolbar to use them</p>

        {
            bookmarklets.map((bm) => {
                const code = encodeURIComponent(
                    `(async()=>{${bm.function.replace("\n", "")}})();`,
                )
                return (
                    <Fragment>
                        <div>
                            <h2>
                                <a href={"javascript:" + code}>{bm.name}</a>
                            </h2>
                            <p>{bm.description}</p>
                        </div>
                    </Fragment>
                )
            })
        }
    </body>
</html>
